<div class="nosotros">
  <div class="item-nosotros">
    <img src="assets/logo-nosotros.png" alt="" />
  </div>
  <div class="item-nosotros">
    <h2>¡Famosos por nuestras hamburguesas!</h2>
    <p>
      Somos mucho más que tu lugar favorito para disfrutar de deliciosas
      hamburguesas, alitas crujientes y una selección cuidadosamente de cervezas
      artesanales y de las mejores marcas. En Plaza Grill, nos enorgullecemos de
      ofrecer una experiencia gastronómica única donde la calidad, la
      creatividad y el ambiente acogedor se unen para crear momentos
      inolvidables.
    </p>
  </div>
</div>
