<div class="modal-producto">
  <i class="fa-solid fa-xmark btn-cerrar-modal" (click)="closeModal()"></i>
  <div class="modal-body">
    <div class="card-producto">
      <div class="card-image">
        <img src="{{ info.picture }}" />
      </div>
      <div class="name-hamburguesa">
        <!-- <img src="assets/bbq-especial.png" alt="" class="letras-modal" /> -->
      </div>
      <div class="descripcion-hamburguesa">
        <h6>Ingredientes</h6>
        <ul>
          <li><p>200 gramos de carne</p></li>
          <li><p>Jamón</p></li>
          <li><p>Queso Cheddar</p></li>
          <li><p>Queso Manchego</p></li>
          <li><p>Tocino</p></li>
          <li><p>Aderezada con nuestra salsa BBQ</p></li>
        </ul>
        <a href="#">Comprar</a>
      </div>
    </div>
  </div>
</div>
