<div class="modal-producto">
  <i class="fa-solid fa-xmark btn-cerrar-modal" (click)="closeModal()"></i>
  <div class="modal-body">
    <h3>Contenido del Modal</h3>
    <div class="card-image">
      <img src="assets/hamburguesa.png" />
    </div>
    <div class="name-hamburguesa">
      <img src="assets/texto-h-modal.png" alt="" class="letras-modal" />
    </div>
    <div class="descripcion-hamburguesa">
      <h6>Ingredientes</h6>
      <ul>
        <li>200 gramos de carne</li>
        <li>Jamón</li>
        <li>Queso Cheddar</li>
        <li>Queso Manchego</li>
        <li>Tocino</li>
        <li>Aderezada con nuestra salsa BBQ</li>
      </ul>
      <a href="#">Comprar</a>
    </div>
  </div>
</div>
