/* Estilos generales */
.opiniones {
  padding: 6rem;
  background-color: #000000;
  padding-bottom: 40px;
  padding-top: 20px;
  margin-top: -78px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-align: center;
}

/* Estilos del contenedor de opiniones */
.container-opiniones {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
   /* Centra verticalmente si es necesario */
  width: 100%;
}

/* Estilos del swiper-container */
.mySwiper {
  width: 70%; /* Ancho del 70% del contenedor principal */
  max-width: 1200px; /* Ancho máximo para evitar que sea demasiado grande */
  height: auto;
}

/* Estilos de cada slide */
.item-slider {
  display: flex;
  justify-content: center;
  align-items: center;

  
}

/* Estilos de la tarjeta de opinión */
.card-opinion {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.card-opinion img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card-stars {
  margin-bottom: 1rem;
}

.card-stars i {
  color: #f39c12;
  font-size: 1.2rem;
}

h6 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
  margin: 0;
}

/* Estilos del espacio entre slides */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .opiniones {
    padding: 0;
    padding-bottom: 135px;
    padding-top: 6px;
    margin-top: -1px;
}}
