<div class="opiniones">
    <h2>Opiniones de clientes satisfechos</h2>
    <div class="container-opiniones">
      <swiper-container
        class="mySwiper"
        navigation="true"
        space-between="30"
        centered-slides="true"
        autoplay-delay="15000"
        autoplay-disable-on-interaction="false"
      >
        <swiper-slide class="item-slider">
          <div class="card-opinion">
            <img src="assets/andrea.png" alt="" />
            <div class="card-stars">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <h6>Andrea Palma</h6>
            <p>
            El sabor que tienen las hamburguesas es buenísimo, tienen muy buen tamaño y 
            me parece que el precio es súper justo, hay cervezas nacionales, de exportación y artesanales. 
            </p>
          </div>
        </swiper-slide>
        <swiper-slide class="item-slider">
          <div class="card-opinion">
            <img src="assets/ivel.png" alt="" />
            <div class="card-stars">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <h6>Ivel Urbina Medina</h6>
            <p>
              Me gusto mucho el ambiente y la decoración del sitio, pedimos hamburguesas y de verdad 
              estaban bien ricas, además de haber bastante variedad.
            </p>
          </div>
        </swiper-slide>
  
        <swiper-slide class="item-slider">
          <div class="card-opinion">
            <img src="assets/jaime.png" alt="" />
            <div class="card-stars">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <h6>Jaime Martinez</h6>
            <p>
              Muy buen lugar para disfrutar de unas alitas, una hamburguesa y papas,
              puedes pedir de todo tipo de cervezas, y hay varias cervezas importadas y tambien hay cervezas artesanales,
              el servicio es muy bueno y los precios muy accesibles
            </p>
          </div>
        </swiper-slide>
        <swiper-slide class="item-slider">
          <div class="card-opinion">
            <img src="assets/oscar.png" alt="" />
            <div class="card-stars">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <h6>Oscar Peréz</h6>
            <p>
              Excelente lugar para degustar hamburguesas y alitas, el personal es muy amable, 
              el lugar es limpio y cuenta con las medidas de prevención de contingencia, 
              es cómodo y tranquilo con buen ambiente, tiene gran variedad de cervezas internacionales. 
          
            </p>
          </div>
        </swiper-slide>
        <swiper-slide class="item-slider">
          <div class="card-opinion">
            <img src="assets/maddie.png" alt="" />
            <div class="card-stars">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <h6>Maddie</h6>
            <p>
              Hamburguesas de muy buena calidad y grande lo que uno espera por el precio. Meseras super amables! recomiendo el lugar.
            </p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div> 