<div class="opiniones">
  <h2>Opiniones de clientes satisfechos</h2>
  <div class="container-opiniones">
    <swiper-container class="mySwiper" navigation="true" space-between="30" centered-slides="true"
      autoplay-delay="15000" autoplay-disable-on-interaction="false">
      
      <swiper-slide class="item-slider">

        <div class="card-opinion">
          <img src="assets/user-review-1.webp" alt="">
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Luis García Ortiz</h6>
          <p>
            El lugar tiene dos secciones para escoger donde te sientes, ya sea dentro o fuera. Sus mesas no son lo suficientemente grandes como para cuatro personas o al menos es mi percepción. <br>
            La atención es adecuada y aceptan pago con tarjeta, el sanitario es compartido. <br>
            Tienen variedad de cervezas de diferentes países aunque su precio está ligeramente elevado, su carta de alimentos tiene variedad pero al menos lo que se pidió no tenía nada sorprendente como para que sus precios lo valieran.
          </p>
        </div>
      </swiper-slide>
      
      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/user-review-2.webp" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
              class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Yolanda Díaz</h6>
          <p>
            Me encanto mi hamburguesa Chiken Especial y lo mejor con mi cerveza internacional. Buen ambiente y servicio.
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/user-review-3.webp" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
              class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Uriel Zahuantitla</h6>
          <p>
            Para lo que nos gustan las alitas y las cervezas de variedad y por supuesto el Rock es el lugar ideal, excelente atmosfera, la cerveza Liefmans con fresas es una maravilla. Un lugar 100% recomendado.
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/andrea.png" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
          <h6>Andrea Palma</h6>
          <p>
          El sabor que tienen las hamburguesas es buenísimo, tienen muy buen tamaño y 
          me parece que el precio es súper justo, hay cervezas nacionales, de exportación y artesanales. 
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/ivel.png" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
              class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Ivel Urbina Medinaz</h6>
          <p>
            Me gusto mucho el ambiente y la decoración del sitio. Pedimos hamburguesas y de verdad estaban bien ricas, además de haber bastante variedad. La atención fue lo único que no me gusto mucho.
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/user-review-4.webp" alt="" />
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
              class="fa-solid fa-star"></i>
          </div>
          <h6>Miguel Vox</h6>
          <p>
            Me encantó el lugar un poco chico, con terraza, alimentos y bebidas estupendas, tome una cerveza alemana y una inglesa
          </p>
        </div>
      </swiper-slide>
      
      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/user-review-5.webp" alt="">
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Aura Ortiz</h6>
          <p>
            Muy rico. Las cervezas dulce te las dan con fruta fresca. Recomiendo la hamburguesa con salsa de pizza. Delicioso!
          </p>
        </div>
      </swiper-slide>
      
      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/user-review-6.webp" alt="">
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Christian Obregón</h6>
          <p>
            Las mejores alitas que he comido en la vida, el servicio es rápido y muy amable, buena variedad de cervezas. Muy recomendable.
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/user-review-7.webp" alt="">
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Samuel Alejandro Carmona Miranda</h6>
          <p>
            Comida muy rica en todos sus platillos, buena atención y buen ambiente con música de todo tipo,muy recomendado.
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/user-review-8.webp" alt="">
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Yeimy Jatziry Delgado</h6>
          <p>
            En general la comida tiene buen sabor está bien cocida y el servicio es bueno. La mayoría de sus cervezas de sabor no tienen un elevado grado de alcohol y el pan de las hamburguesas es muy seco. Faltaría agregar más aderezos o que el pan no estuviera tan grueso.
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/jaime.png" alt="">
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>Jaime Martinez</h6>
          <p>
            Muy buen lugar para disfrutar de unas alitas, una hamburguesa y papas. <br>
            Puedes pedir de todo tipo de cervezas, y hay varias cervezas importadas y tambien hay cervezas artesanales. <br>
            El servicio es muy bueno y los precios muy accesibles. <br>
            El restaurante está dentro de la Plaza Tulyehualco por lo que puedes llegar en carro y te sellan el estacionamiento para que hagan descuento.
          </p>
        </div>
      </swiper-slide>

      <swiper-slide class="item-slider">
        <div class="card-opinion">
          <img src="assets/user-review-9.webp" alt="">
          <div class="card-stars">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
          <h6>david espinosa fragoso</h6>
          <p>
            La comida y bebida super rica, buen ambiente para pasarla bien con amigos, excelente servicio
          </p>
        </div>
      </swiper-slide>

    </swiper-container>
    
    <button
      class="btn-reviews"
    >
      <a
        target="_blank" 
        href="https://www.google.com/search?q=plaza-grill.com.mx&rlz=1C1ONGR_esMX1024MX1024&oq=pl&gs_lcrp=EgZjaHJvbWUqBggCECMYJzIOCAAQRRgnGDsYgAQYigUyBggBEEUYOTIGCAIQIxgnMgwIAxAAGEMYgAQYigUyDAgEEAAYQxiABBiKBTINCAUQABiDARixAxiABDIGCAYQRRg8MgYIBxBFGDzSAQgzNjIwajBqN6gCALACAA&sourceid=chrome&ie=UTF-8#lrd=0x85ce02418a1d8d77:0x1e92e4700180cb52,1">
      Ver reseñas</a>
    </button>
  </div>
</div>