<div class="container-slider-menu-2">
  <img src="assets/fondo-cervezas.png" alt="" class="fondo-hamburguesa" />
  <img
    src="assets/texto-cervezas-internacionales.png"
    alt=""
    class="menu-cervezas"
  />
  <div class="slider-cube">
    <swiper
      [effect]="'cube'"
      [grabCursor]="true"
      [cubeEffect]="{
        shadow: true,
        slideShadows: true,
        shadowOffset: 20,
        shadowScale: 0.94
      }"
      [pagination]="true"
      [navigation]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide
        ><img src="assets/chela1.png" alt=""
      /></ng-template>
      <ng-template swiperSlide
        ><img src="assets/chela1.png" alt=""
      /></ng-template>
      <ng-template swiperSlide
        ><img src="assets/chela1.png" alt=""
      /></ng-template>
      <ng-template swiperSlide
        ><img src="assets/chela1.png" alt=""
      /></ng-template>
      <ng-template swiperSlide
        ><img src="assets/chela1.png" alt=""
      /></ng-template>
      <ng-template swiperSlide
        ><img src="assets/chela1.png" alt=""
      /></ng-template>
    </swiper>
  </div>
</div>
