@import "swiper/css/bundle";

.container-slider-menu-2 {
  max-width: 100%;
  position: relative;
  height: 450px;
  margin: auto;
  margin-top: -50px;
  z-index: -2;
}
.fondo-hamburguesa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.mySlider {
  position: absolute !important;
  top: 20%;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 350px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 270px;
  height: 270px;
}

.img-slider-menu-2 {
  display: block;
  max-width: 270px;
  height: 270px;
  object-fit: cover;
}
.menu-cervezas {
  text-align: center;
  max-width: 90%;
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 5%;
  margin: auto;
}
.swiper-slide p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

@media (min-width: 767px) {
  .container-slider-menu-2 {
    width: 100%;
    position: relative;
    gap: 20px;
    height: 800px;
    text-align: center;
    margin-top: -80px !important;
    z-index: -2;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .mySlider {
    position: absolute !important;
    top: 27%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 550px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 500px;
    height: 500px;
  }

  .img-slider-menu-2 {
    display: block;
    max-width: 500px;
    height: 500px;
    object-fit: cover;
  }

  .menu-cervezas {
    display: block;
    max-width: 50%;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swiper-slide p {
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
  }
  .fondo-hamburguesa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
