.container-slider-menu-3 {
  max-width: 100%;
  position: relative;
  height: 520px;
  margin: auto;
  z-index: 1;
}
.fondo-hamburguesa2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -11%;
  left: 0;
  z-index: -2;
}
.carousel {
  position: absolute !important;
  top: 7%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 400px;
}
.menu-cervezas {
  text-align: center;
  max-width: 90%;
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 5%;
  margin: auto;
}
.carousel-item {
  text-align: center;
  max-width: 350px;
  height: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-item p {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.carousel-item img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  text-align: center;
}

/*
Este codigo es para el nuevo slider
*/

.container-slider {
  position: absolute !important;
  top: 15%;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 400px;
}

.item-slider {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 300px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-slider-cerveza {
  width: 100%;
  height: 90%;
  object-fit: contain;
  margin: auto;
}

/*
Fin del codigo del nuevo slider
*/
@media (min-width: 767px) {
  .container-slider-menu-3 {
    max-width: 100%;
    position: relative;
    height: 750px;
    margin: auto;
  }
  .fondo-hamburguesa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .carousel {
    position: absolute !important;
    top: 7%;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 650px;
  }

  .carousel-item {
    text-align: center;
    width: 750px;
    height: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .carousel-item p {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  .carousel-item img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    text-align: center;
  }

  .menu-cervezas {
    display: block;
    max-width: 50%;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*
Este codigo es para el nuevo slider
*/

  .container-slider {
    position: absolute !important;
    top: 15%;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 650px;
  }

  .item-slider {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 550px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .img-slider-cerveza {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin: auto;
  }

  /*
Fin del codigo del nuevo slider
*/
}
