<div class="container-slider-menu-3" id="cervezas">
  <img src="assets/fondo-cervezas.png" alt="" class="fondo-hamburguesa2" />
  <img
    src="assets/texto-cervezas-internacionales.png"
    alt=""
    class="menu-cervezas"
  />
  <div class="container-slider-menu-2">
    <div class="carousel">
      <div class="carousel-item" href="#one!">
        <img src="assets/chela1.png" />
        <p>Chela 1</p>
      </div>
      <div class="carousel-item" href="#two!">
        <img src="assets/chela2.png" />
        <p>Chela 2</p>
      </div>
      <div class="carousel-item" href="#three!">
        <img src="assets/chela3.png" />
        <p>Chela 3</p>
      </div>
      <div class="carousel-item" href="#four!">
        <img src="assets/chela1.png" />
        <p>Chela 1</p>
      </div>
      <div class="carousel-item" href="#five!">
        <img src="assets/chela2.png" />
        <p>Chela 2</p>
      </div>
      <div class="carousel-item" href="#three!">
        <img src="assets/chela3.png" />
        <p>Chela 3</p>
      </div>
      <div class="carousel-item" href="#four!">
        <img src="assets/chela1.png" />
        <p>Chela 1</p>
      </div>
      <div class="carousel-item" href="#five!">
        <img src="assets/chela2.png" />
        <p>Chela 2</p>
      </div>
      <div class="carousel-item" href="#three!">
        <img src="assets/chela3.png" />
        <p>Chela 3</p>
      </div>
      <div class="carousel-item" href="#four!">
        <img src="assets/chela1.png" />
        <p>Chela 1</p>
      </div>
      <div class="carousel-item" href="#five!">
        <img src="assets/chela2.png" />
        <p>Chela 2</p>
      </div>
      <div class="carousel-item" href="#three!">
        <img src="assets/chela3.png" />
        <p>Chela 3</p>
      </div>
      <div class="carousel-item" href="#four!">
        <img src="assets/chela1.png" />
        <p>Chela 1</p>
      </div>
      <div class="carousel-item" href="#five!">
        <img src="assets/chela2.png" />
        <p>Chela 2</p>
      </div>
      <div class="carousel-item" href="#three!">
        <img src="assets/chela3.png" />
        <p>Chela 3</p>
      </div>
    </div>
  </div>
</div>
