<div class="container-slider-menu-3" id="cervezas">
  <img src="assets/fondo-cervezas.png" alt="" class="fondo-hamburguesa2" />
  <img
    src="assets/texto-cervezas-internacionales.png"
    alt=""
    class="menu-cervezas"
  />
  <div class="container-slider-menu-2">
    <swiper-container
      class="mySwiper container-slider"
      effect="coverflow"
      grab-cursor="true"
      centered-slides="true"
      slides-per-view="auto"
      coverflow-effect-rotate="0"
      coverflow-effect-stretch="0"
      coverflow-effect-depth="400"
      coverflow-effect-modifier="2"
      coverflow-effect-slide-shadows="false"
    >
      <swiper-slide
        class="item-slider"
        *ngFor="let texto of Cerveza; let i = index"
      >
        <img src="{{ texto.picture }}" alt="" class="img-slider-cerveza" />
        <h6>{{ texto.title }}</h6>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
