<div class="container-slider-menu-4" id="alitas">
  <img src="assets/fondo-alitas.png" alt="" class="fondo-hamburguesa3" />
  <img src="assets/texto-alitas-boneles.png" alt="" class="menu-cervezas3" />

  <div class="carousel">
    <div class="carousel-item" href="#one!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 1</p>
    </div>
    <div class="carousel-item" href="#two!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 2</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 3</p>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 1</p>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 2</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 3</p>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 1</p>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 2</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 3</p>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 1</p>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 2</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 3</p>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 1</p>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 2</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/foto-alitas.png" />
      <p>Alita 3</p>
    </div>
  </div>
</div>
