<div class="container-slider-menu" id="hamburguesas">
  <img src="assets/fondo-hamburguesa.png" alt="" class="fondo-hamburguesa" />
  <img src="assets/texto-hamburguesas.png" alt="" class="menu-hamburguesa" />
  <swiper-container
    class="mySwiper container-slider"
    effect="coverflow"
    grab-cursor="true"
    centered-slides="true"
    slides-per-view="auto"
    coverflow-effect-rotate="0"
    coverflow-effect-stretch="0"
    coverflow-effect-depth="300"
    coverflow-effect-modifier="2"
    coverflow-effect-slide-shadows="false"
  >
    <swiper-slide
      class="item-slider"
      *ngFor="let info of Hamburguesa; let i = index"
    >
      <img src="{{ info.picture }}" alt="" class="img-slider" />
      <h6>{{ info.title }}</h6>
      <button (click)="openModal(i)">Info</button>
    </swiper-slide>
  </swiper-container>
  <div class="conatiner-modal" *ngIf="modalSwitch === true">
    <app-modal-producto></app-modal-producto>
  </div>
</div>
