<div class="container-slider-menu" id="hamburguesas">
  <img src="assets/fondo-hamburguesa.png" alt="" class="fondo-hamburguesa" />
  <img src="assets/texto-hamburguesas.png" alt="" class="menu-hamburguesa" />
  <div class="carousel">
    <div class="carousel-item" href="#one!">
      <img src="assets/hamburguesa.png" />
      <p>BBQ Especial</p>
      <button (click)="openModal()">Info</button>
    </div>
    <div class="carousel-item" href="#two!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="assets/hamburguesa.png" />
      <p>BBQ Especial</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="assets/hamburguesa.png" />
      <p>Pizza Burguer</p>
    </div>
  </div>
</div>
<div class="conatiner-modal" *ngIf="modalSwitch === true">
  <app-modal-producto></app-modal-producto>
</div>
