.container-slider-menu {
  max-width: 100%;
  position: relative;
  height: 450px;
  margin: auto;
  z-index: 2;
}
.fondo-hamburguesa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -3;
}
.carousel-item {
  text-align: center;
  max-width: 350px;
  height: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel {
  position: absolute !important;
  top: 7%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 400px;
}

.menu-hamburguesa {
  text-align: center;
  max-width: 90%;
  z-index: -1;
  position: absolute;
  top: 10%;
  left: 5%;
  margin: auto;
}
.carousel-item p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.carousel-item img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  text-align: center;
}

@media (min-width: 767px) {
  .container-slider-menu {
    max-width: 100%;
    position: relative;
    height: 750px;
    margin: auto;
  }
  .fondo-hamburguesa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .carousel {
    position: absolute !important;
    top: 7%;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 650px;
  }

  .carousel-item {
    text-align: center;
    width: 750px;
    height: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .carousel-item p {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  .carousel-item img {
    width: 450px;
    height: 450px;
    object-fit: contain;
    text-align: center;
  }

  .menu-hamburguesa {
    display: block;
    max-width: 50%;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
