.container-slider-menu {
  width: 100%;
  position: relative;
  background-image: url("/assets/fondo-hamburguesa.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  height: 450px;
}
.fondo-hamburguesa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  left: 0;
  z-index: 4;
}
.menu-hamburguesa {
  text-align: center;
  max-width: 90%;
  z-index: 4;
  position: absolute;
  top: 2%;
  left: 5%;
  margin: auto;
}
/*
Este codigo es para el nuevo slider
*/

.container-slider1 {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 4;
}

.item-slider {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.img-slider {
  width: 100%;
}
.item-slider h6 {
  margin: 5px auto;
  font-size: 18px;
  color: white;
}
.item-slider button {
  background-color: white;
  color: #7f0222;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  border: solid 2px #7f0222;
  width: 100px;
  font-weight: 500;
}

/*
Fin del codigo del nuevo slider
*/

/*modal*/
.modal-producto {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all ease-in 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  width: 90%;
  height: 80%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.descripcion-hamburguesa h6 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 0px auto 7px auto;
}
.btn-cerrar-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: white;
}
.modal-body h3 {
  color: white;
}
.card-image {
  max-width: 350px;
  height: auto;
  margin: auto;
}
.card-image img {
  max-width: 100%;
}
.name-hamburguesa {
  margin: auto;
  text-align: center;
}
.letras-modal {
  max-width: 80%;
  text-align: center;
  margin: auto;
}
.descripcion-hamburguesa {
  margin: auto;
}
.descripcion-hamburguesa ul {
  width: 70%;
  margin: auto;
}

.descripcion-hamburguesa ul li {
  list-style: circle;
  color: #7f0222;
}
.descripcion-hamburguesa ul li p {
  color: black;
  font-size: 14px;
}
.descripcion-hamburguesa a {
  background-color: #7f0222;
  color: white;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 150px;
  padding: 7px;
  margin: 12px auto;
}
.img-title {
  display: block;
  margin: 0px auto 7px auto;
}
/*modal*/

@media (min-width: 767px) {
  .container-slider-menu {
    max-width: 100%;
    position: relative;
    height: 750px;
    margin: auto;
  }
  .fondo-hamburguesa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -16%;
    left: 0;
    z-index: -1;
  }
  .menu-hamburguesa {
    display: block;
    max-width: 50%;
    z-index: 1;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*modal*/

  .modal-body {
    width: 70%;
    height: 60%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card-producto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .card-image {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .name-hamburguesa {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 50px;
  }
  .descripcion-hamburguesa {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .letras-modal {
    max-width: 100%;
    text-align: center;
    margin: auto;
  }
  .descripcion-hamburguesa ul li p {
    color: black;
    font-size: 16px;
  }
  .descripcion-hamburguesa ul {
    width: 100%;
    margin: auto;
  }
  .descripcion-hamburguesa a {
    margin: 20px auto;
  }
  .img-title {
    display: block;
    margin: 0px auto 7px auto;
  }
  /*modal*/
  /*
Este codigo es para el nuevo slider
*/

  .container-slider1 {
    margin-top: 110px;
    width: 100%;
    height: auto;
  }

  .item-slider {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 450px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .img-slider {
    width: 100%;
  }
  .item-slider h6 {
    margin: 5px auto;
    font-size: 20px;
    color: white;
  }
  .item-slider button {
    background-color: white;
    color: #7f0222;
    font-size: 17px;
    text-align: center;
    padding: 5px;
    border: solid 2px #7f0222;
    width: 150px;
    font-weight: 500;
  }

  /*
Fin del codigo del nuevo slider
*/
}
